p {font-size: larger;}
body {background-color: rgb(22, 22, 22);}
a {color:rgb(218, 218, 218);background-color: rgb(44, 44, 44);padding: 15px;text-decoration: none;}
a:hover {color: red;background-color: rgb(22, 22, 22);border: 1px solid rgb(61, 61, 61);}